@model Question
@{
    ViewData["Title"] = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quiz</h1>

<div class="text-center">
    <h1>
        @Html.Raw(Model.question)
    </h1>
</div>

<div class="text-center">
    <table class="table" align="center" border="0">
        <tbody>
            @foreach (var c in Model.choices)
            {
                <tr class="text-center" border="0">
                    <td class="text-center">@Html.Raw(c) <input class="text-center" type="checkbox" name="checked" value="@Model.choices" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>