@model Question
@{
    ViewData["Title"] = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var test = Model.correct_choice;
    int i = 0;
}

<h1>Question</h1>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1 id="question">
                @Html.Raw(Model.question)
            </h1>
            <table class="table" align="center" border="0">
                <tbody>
                    @foreach (var c in Model.choices)
                    {
                        <tr class="text-center" border="0">
                            <td class="text-center">@Html.Raw(c) <input class="text-center" type="checkbox" name="checked" value="@i" /></td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            <p id="IsCorrectAnswer"></p>
        </div>
    </div>
</div>
<div class="container text-center" id="correctAnswerNextButtons" hidden>
    <div class="row">
        <div class="col">
            <form asp-action="QuizComplete" asp-controller="GamePlay">
                <input type="submit" class="btn btn-secondary" id="finishQuiz" value="Finish" />
            </form>
            &nbsp;
            <form asp-action="QuizQuestion" asp-controller="GamePlay">
                <input type="submit" class="btn btn-primary" id="nextQuestion" value="Next Question" />
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('input[type="checkbox"]').click(function () {
            var checkboxChecked = $(this).attr("value");
            var correct = @Model.correct_choice;

            $.ajax({
            type: "POST",
            url: "/GamePlay/ValidateQuizAnswer",
            data: {playerAnswer: checkboxChecked, correctAnswer: correct},
            dataType: "text",
            success: function (msg) {
                if (msg != "Correct") {
                    var test = $("input:checked");
                    test.prop("checked", false);
                    test.prop("disabled", true);
                    $("#IsCorrectAnswer").html("Incorrect Answer");
                }
                else{
                    $('#correctAnswerNextButtons').prop("hidden", false);
                    $("#IsCorrectAnswer").html("Correct Answer");
                    $('input[type="checkbox"]').prop("disabled", true);
                }
            },
            error: function (req, status, error) {
                alert(error);
            }
            });
        });
        
    });
</script>