@model int
@{
    ViewData["Title"] = "QuizComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                        <h1><b>Quiz Complete!</b></h1>
@if (Model > 1)
{
    <h3><b>You earned a total of @Model points</b></h3>
}
else
{
    <h3><b>You earned a total of @Model point</b></h3>
}