
@{
    ViewData["Title"] = "IsFirstTimeLogginIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url(/Images/Fields.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
</style>

<h1>Welcome to MathMash!</h1>

<p>The name of the game is to answer as many questions right as possible. The more you answer correct the more points you earn.  Points in the end affect your avatars overall mood.  Higher the level the higher the reward so be careful and make your selection wisely</p>

<div class="container">
    <p>In order to start, please give your monster a name!</p>
    <p>No more than 100 characters</p>
    <div class="row">
        <div class="col-sm">
            <form asp-controller="Player" asp-action="FirstTime" method="post" onsubmit="return ValidateForm()">
                <input type="text" placeholder="Enter a Name" class="form-control" id="monsterName" name="monsterName" maxlength="100" />
                <input type="submit" class="btn btn-primary" value="Ready!" />
            </form>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function ValidateForm() {
        var monsterName = $('#monsterName').val().trim();
        var nameRegex = "^[a-zA-Z][^#&<>\"~;$^%{}?]{1,100}$";

        if (monsterName.match(nameRegex)) {
            return true;
        }
        else {
            alert("Invalid Monster Name");
            return false;
        }
    }
</script>