
@{
    ViewData["Title"] = "IsFirstTimeLogginIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Welcome to Math Game!</h1>

    <h1>The name of the game is to answer as many questions right as possible.  If you answer more right than wrong your avatar will be fed.  If not your avatar will slowly get Angry and eventually leave.  Higher the level the higher the reward so be careful and make your selection wisely</h1>

    <p><a asp-controller="PLayer" asp-action="Player">Continue</a></p>



