
@{
    ViewData["Title"] = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Player</h1>

<form asp-controller="GamePlay" asp-action="QuizQuestion">
    <p>
        Please Select Your Level:
        <select name="Difficulty">
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advanced</option>
        </select>
    </p>


    <div class="form-group">
        <input type="submit" class="form-control btn btn-primary" />
    </div>


</form>



