
@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Status</h1>

@model MathGameDBContext



@if (Global.CurrentPlayerScore<=100  && Global.CurrentPlayerScore>=70)
{
    <img src="~/Photos/Happy.jpg" ; />
}
else if (Global.CurrentPlayerScore<=69  && Global.CurrentPlayerScore>=40)
{
    <img src="~/Photos/Hungry.jpg" ; />
}
else if (Global.CurrentPlayerScore<=39  && Global.CurrentPlayerScore>=1)
{
    <img src="~/Photos/Angry.jpg" ; />
}
else 
{
    <img src="~/Photos/Farm.jpg" ; />
}




@*Current Scour
    Avatar mood
    Current level*@