@model string
@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url(/Images/Test.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
</style>



<p style="text-align:center">
    <font size="+6">
        <b>Welcome to MathMash!</b>
    </font>
</p>


@if(Model == "NewAccount")
{
    <h1>Thank you for Registering!</h1>
    <h3><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a></h3>
}