@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>youre logged in, press player</p>
}
@if (!User.Identity.IsAuthenticated)
{
    <p>you are not logged in. Register here</p>


}



